* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: trebuchet ms, sans-serif;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0b0d;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #282128;
}

body {
    background-color: #282128;
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0d0b0d;
    height: auto;
    width: 100vw;
    padding-top: 25px;
    color: #ffffff;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.social a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.social a:hover i{
    color: #887191;
}
