* {
    margin: 0;
    padding: 0;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0b0d;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #282128;
}

body {
    background-color: #282128;
    margin: 0;
}

.links {
    list-style-type: none;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0d0b0d;
    padding: 6px;

}

.links li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline;
}



