.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #0d0b0d;
    color: white;
}

.links {
    list-style-type: none;
    display: inline;
}